table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 16%;
}

img {
    width: 100%;
    height: auto;
}
